@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;

    scroll-behavior: smooth;


}

header{

    .navbar{
        padding: 20px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        .search-container{
            margin: 0 0 0 300px;

            .search-div
            {
                padding: 0 0 8px;
                border-bottom: 3px double red;

                .search
                {
                    font: 100 15px 'Rajdhani', sans-serif;
                    
                    box-sizing: border-box;
                    
                    outline: none;
                    border: none;
                    
                    background: none;
                    
                    text-align: center;
                }
            }
        }
        
    
        .links{

            .listdiv{
                display: flex;
                
                .list{
                    padding: 0 0 0 2rem;
                    list-style-type: none;
                    
                    .link{
                        text-decoration: none;
                    }

                    
                }
                .list:first-child{
                    .link
                    {
                        color: red;

                        border-bottom: 3px double red ;
                    }
                }

            }
            
        }
    
        .logo, .link{
            font: 100 22px 'Rajdhani', sans-serif;
            text-transform: uppercase;
        }
    } 
}

main{
    .shop-main
    {
        display: flex;
        justify-content: center;

        padding: 0 20%;
        
        background: none;

        .container-width
        {
            max-width: 55rem;
        }

        .box-link
        {
            text-decoration: none;
            outline: none;
            border: none;
            color: black;
        }
        
        .container
        {   
            padding: 0 5px 0 0;
            
            display: flex;
            
            border-radius: 30px;
            box-shadow: 0px 0px 5px;
            
            background: white;
            
            margin: 30px 0;
            
            .photoo
            {
                display: flex;
                justify-content: center;
                min-width: 300px;
                height: 300px;
            }
            
            .img-teres
            { 
                height: 300px;
                border-radius: 20px 0 0 20px;
            }
        }
        
        .img-title
        {
            text-align: center;
            font: 100 30px 'Rajdhani', sans-serif;
            
            margin: 20px;
        }
        
        .description{
            margin: 9% 0;
            text-align: center;
            font: 100 20px 'Rajdhani', sans-serif;
            list-style: none;
        }
    }
}

footer{
    text-align: center;

    background: none;

    .footer-title{
        font:100 45px 'Rajdhani', sans-serif;

        text-align: center;

        text-shadow: 0px 0px 5px rgb(85, 0, 0);

        span{
            color: red;
        }

    }

    .linksdiv{
        display: flex;
        justify-content: center;
        
        .footer-links{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            width: calc(100% / 3);

            li{
                padding: 2rem 0 0 0;

                list-style: none;

                font: 100 20px 'Rajdhani', sans-serif;
                color: black;

                .footer-a{
                    color: black;
                    display: flex;
                    align-items: center;
                    
                    text-decoration: none;
                    border-bottom: 3px double rgb(255, 0, 0);

                    .icon-footer{
                        margin: 0 8px 5px 0;
                    }
                }

            }

        }
    }
}